.header {
    padding-top: 8px;

    @include mobile {
        margin-bottom: 40px;
    }

    .logo a {
        width: 128px;
        height: 38px;
        display: block;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }

    .lg-cart i {
        width: 20px;
        height: 20px;
    }

    .nav-item .nav-link {
        color: #8D8D8D;
        font-size: 20px;
        line-height: 24px;

        i {
            margin-right: 3px;
        }
    }
    
    .m-navbar li{
        font-size: 20px;
        line-height: 24px;
        background-color: #707070;
        margin-bottom: 1px;
        
    }

    .shopping-cart {
        position: relative;
        color: #8D8D8D;

        span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
        margin-right: 20px;

        a {
            width: 128px;
            height: 38px;
            display: block;
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png");
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 16px;
    }

    .nav-item .nav-link {
        font-size: 20px;
        line-height: 24px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s;

        &:hover {
            border-bottom: 3px solid #ffffff;
        }
    }
    
    @include mobile {
        .nav {
            display: none;
        }
    }
}
