.login {
    margin-bottom: 82px;

    @include mobile {
        margin-bottom: 106px;
    }

    .login-img {
        height: 730px;

        @include mobile {
            height: 220px;
            margin-bottom: 28px;
        }
    }

    h2 {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .form-group:first-child {
        margin-bottom: 20px;
    }

    .form-group:nth-child(2) {
        margin-bottom: 36px;
    }
}